#operation {
    margin: 20px;
    text-align: center;
}


.queue-box {
    border: 1px solid rgba(0, 100, 0, .5);
    margin: 10px 20px;
    padding: 10px 20px;

    span {
        display: inline-block;
        width: 10px;
        border: 1px solid rgba(255, 0, 0, .8);
        margin-right: 1px;
        margin-top: 1px;
        background-color: rgba(255, 0, 0, .5);
        vertical-align: bottom;
    }
}
    
    